body {
    background-color: beige;
  }
  
  #board {
    margin-top: 3vh;
    margin-left: 3vw;
    max-height: 90vh;
    max-width: 90vw;
    border: 5px solid black;
    border-radius: 3%;
  }
  
.card {
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    display: inline-block;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }

.card--image--back, .card--image--front  {
    width: 10vw;
    height: 10vh;
    border: 2px solid black;
    max-height: 100%;
    max-width: auto;
    transform: rotateY(180deg);
  }

.card--image--back {
    display: block;
}

.card--image--front{
    display: none;
  }

  
.game-over {
    position: relative;
    margin : auto;
    background-color: red;
    max-width: 30vw;
    max-height: 30vh;
  }
  
.win {
    position: relative;
    margin: auto;
    background-color: green;
    max-width: 30vw;
    max-height: 30vh;
  }

  .timer {
    position : relative;
    margin: auto;
    background-color: blue;
    width: 50vw;
    height : 10vh;
    font-size: 20px;
    color: white;
  }
  